<!DOCTYPE html>
<html lang="{{ craft.app.language }}" class="h-full bg-brand-050">

<head>
    <base href="{{ siteUrl }}">
    <meta charset="{{ craft.app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inertia</title>

    {% set icon = siteInfo.siteIcon.one %}
    {% if icon %}
        <link rel="icon" href="{{ icon.url }}">
    {% endif %}
    <link rel="stylesheet" href="{{ url('assets/inertia/css/main.css') }}"></link>
</head>

<body>

<div id="app" data-page="{{ page|json_encode }}"></div>

<script src="/assets/inertia/js/app.js"></script>

</body>
</html>

